@model Web.Model.Client.ClientModel


<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Add/Edit To-Do Items </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form id="ComapnyToDoform" method="POST">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-label">Subject</label>
                            <input id="subject" maxlength="50" autocomplete="off" class="form-control" placeholder="Please enter subject" name="subject" type="text">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Date</label>
                            <input id="date" autocomplete="off" maxlength="18" class="form-control" placeholder="Please enter date" name="date" type="date">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Description</label>
                            <textarea id="description" autocomplete="off" class="form-control" placeholder="Please enter description" name="description" type="text"></textarea>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="modal-footer">
            <input type="button" class="btn btn-primary" onclick="CreatecompanyToDo(0,@Model.ClientId)" value="Save">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
 