@model Web.Model.Admin.RoleListModel
@{
    ViewBag.Title = "Rolelist";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout .cshtml";
}
<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-xl-4 position-relative">
            <div class="col-auto d-none d-sm-block breadcrumb-1">
                <h3>Role</h3>
            </div>
            <div class="breadcum-2">
                <a class="btn-new-1" onclick="addnewrole(0)" data-toggle="modal" data-target="#add">
                    Add Role
                </a>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body filter-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Please enter role name" value="@Model.Name" maxlength="25">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary w-100 border-0" onclick="search()">Search</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-fade w-100 border-0" onclick="Reset()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card flex-fill">
                    <div class="card-header hr-b-1"> 
                        <h5 class="card-title mb-0">
                            Role List
                        </h5>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped my-0 tr-golden">
                            <thead>
                                <tr>

                                    <th class="w-60px">
                                        S.No
                                    </th>
                                    <th>Name</th>
                                    <th>Created Date</th>
                                    <th>Status</th>
                                    <th class="w-100px text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int RowNo = 0;}
                                @if (Model.Collection != null)
                                {
                                    foreach (var item in Model.Collection)
                                    {
                                        <tr>
                                            <td class="text-left width-46px">
                                                @{RowNo++;}@RowNo
                                            </td>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Date
                                            </td>
                                            <td>
                                                @if (item.StatusId == 1)
                                                {
                                                    <span>Active</span>
                                                }
                                                else
                                                {
                                                    <span>InActive</span>
                                                }
                                            </td>
                                            <td class="table-action text-center">
                                                @if (item.Id > 1)
                                                {
                                                    <a data-toggle="tooltip" data-placement="top" data-original-title="Edit" onclick="addnewrole(@item.Id)">
                                                        <i class="far fa-fw fa-edit"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }

                                }
                                @if (Model.Collection == null)
                                {
                                    <tr>
                                        <td class="p-3" colspan="5">
                                            <span class="no-data-found">
                                                No Data found...
                                            </span>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div id="AddNewRolePopup" class="modal fade " role="dialog"></div>
<div id="AddNewTemplatePopup" class="modal fade " role="dialog"></div>
<script src="~/Areas/Admin/Admin/role.js"></script>
<script>
    var element = document.getElementById("User_Management").setAttribute("aria-expanded", "true");
    var element = document.getElementById("User_Management");
    element.classList.remove("collapsed");
    var element = document.getElementById("User_Management");
    element.classList.add("show");
    var element = document.getElementById("Role+1");
    element.classList.add("active");
</script>