<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings> 
		<add name="mySqlCon" connectionString="Data Source=142.11.206.49;Initial Catalog=dev_mvp1;User Id=rootmysql1;password=sz7WHbzz84mNYz" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>

		<add key="EnableSsl" value="false" />
		<add key="UseDefaultCredentials" value="false" /> 
		<add key="FromEmail" value="mvptalent@mvptalentmarket.com" />
		<add key="FromEmailPassword" value="mvptalent" />
		<add key="smtphost" value="mail.mvptalentmarket.com" />
		<add key="smtpPort" value="25" />
		
		<add key="emailtemplete" value="D:\Project\" />

	</appSettings>

</configuration>