@{
    ViewBag.Title = "FailureView";
    Layout = null;
}
<link href="~/Content/Admin/css/layout.css" rel="stylesheet" />
<link href="~/Content/Admin/css/components.css" rel="stylesheet" />
<body style="padding:15px;background-color: #f7eadc;">
    <div class="row">
        <div class="boxs col-lg-12" style="border: 1px solid rgba(249, 151, 16, 0.52);width: 50%; margin-left: 25%;">
            <h1 class="box-head" style="text-align:center;padding:15px;font-weight: normal;font-size: 24px;">MAIN HIRE ATS</h1>
            <hr style="border: 1px solid #f3f3f3;" />
            <br /><br />
            <table class="papalTable" style="table-layout:fixed;width: 470px;margin-left: 30%;;">
                <tr>
                    <td style="width:140px">Transaction Status</td>
                    <td style="width:50px">:</td>
                    <td>Failure</td>
                </tr>
                <tr>
                    <td colspan="3"> </td>
                </tr>
            </table>
            <div class="buttonStylePaypal">
            </div>
        </div>
    </div>
</body>
<script src="~/Project_Script/Home/PaymentSeccess.js"></script>
<script src="~/Scripts/jquery-1.12.0.min.js"></script>