<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	
	</configSections>
	
	<connectionStrings>

		<add name="mySqlCon" connectionString="Data Source=142.11.206.49;Initial Catalog=dev_mvp1;User Id=rootmysql1;password=sz7WHbzz84mNYz" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<appSettings> 
		<add key="defaultConnection" value="mySqlCon" />
		<add key="days" value="5" />
		<add key="connectionTimeout" value="360000" />
		<add key="requestRetries" value="1" />
		<add key="mode" value="sandbox" />

		<add key="Publishablekey" value="pk_test_51MLrLMEQVZq88mvAHumCTonA85l8Z2FB2OCWiDi5V43bahxXsrfaHoLOaKNGNE7o6IhjeMaomvjGyFb1xWQhonMJ0007i0QOAn" />
		<add key="Secretkey" value="sk_test_51MLrLMEQVZq88mvAon4X4vAE7iUB33rAaDVV7eXndtedZ9H6LBF1ntMmdrcTJYw6ElYEiAdR7EPYR9A3V3Q7l4wZ00sa0DVTHy" />


		<add key="endpoint" value="https://api.sandbox.paypal.com" />

		<add key="Email_Template" value="D:\Project\mvp\src\PlanScheduler\htmltemplet\" />
		<add key="FromEmail" value="mailtosinghnagendra@gmail.com" />
		<add key="AdminEmail" value="nagendrasingh826@gmail.com" />
		<add key="FromEmailPassword" value="Chauhan@12345" />
		<add key="smtphost" value="smtp.gmail.com" />
		<add key="smtpPort" value="587" />
		<add key="EnableSsl" value="true" />
		<add key="UseDefaultCredentials" value="false" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>