@{

    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

 
<script src="~/New_Content/js/bootstrap.bundle.min.js"></script> 
<section class="banner-inner" style="background-image: url('../../New_Content/images/about-banner.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h1>Our Mission</h1>
                <p>
                    To create a hiring ecosystem that inspires more candidates and companies
                    to connect so that everyone has the opportunity to <ht>win at work</ht>.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="about-us gray-bg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <div class="text-center dis-initia-tag">

                            <h3>We Are Driven</h3>
                            <h5>
                                by our desire to help organizations find candidates who truly fit their needs while offering professionals a way to explore their dream jobs in a confidential manner.
                            </h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 align-items-center about-us-flip">
            <div class="col-lg-6 col-md-6 col-sm-12 animated fadeInLeft">
                <p class="mt-3 f-s-18">
                    Being unhappy at work and feeling “stuck” is something that most people will experience at some point in their careers. Our goal is to create a user friendly platform which helps those who are ready for a change find an opportunity that aligns with their experience, skills, and desires while offering companies access to talent they may otherwise miss.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 animated fadeInRight">
                <img class="img-fluid" src="/New_Content/images/about-1.png" alt="">
            </div>
        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12 animated fadeInLeft">
                <img class="img-fluid" src="/New_Content/images/about-2.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 animated fadeInRight">
                <p class="mt-3 f-s-18">
                    While our technology makes it easy for companies and candidates to connect, it is our Recruitment Success Managers that make the difference. We incorporate elements and techniques used by recruitment and executive search firms into our process to ensure our members see positive results. Including initial outreach, answering questions, scheduling interviews, gaining alignment and reference checks, our RSM’s are invested in your success.
                    <br />
                    <br />
                    We believe that your job search is extremely important and by combining an experienced recruiter with innovative technology we can offer the best solution available.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section-main bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row img-box-text">
                    <div class="col-md-12 header-1">
                        <h3 class="f-s-30">
                            Recruitment and Talent Management Solutions
                        </h3>
                        <span class="devider-center"></span>
                        <p class="f-s-18">
                            MVP Talent Market is an affiliate of MVP Recruitment, LLC and MVP Talent Optimization. 
                            These companies work in harmony to provide a full range of 
                            recruitment and talent management solutions. 
                        </p>
                    </div>
                    <div class="recruitment-logo-section">
                        <div class="recruitment-logo-section-main">
                            <div class="recruitment-logo-section-box">
                                <div class="img-area">
                                    <img src="~/New_Content/images/11.png" />
                                </div>
                                <div class="text-area">
                                    <h3>
                                        MVP Recruitment, LLC
                                    </h3>
                                    <p>
                                        Executive search firm for the healthcare industry. Assisting organizations with recruitment for critical and confidential needs for key management and leadership opportunities.
                                    </p>
                                </div>
                            </div>
                            <div class="recruitment-logo-section-box">
                                <div class="img-area">
                                    <img src="~/New_Content/images/12.png" />
                                </div>
                                <div class="text-area">
                                    <h3>
                                        MVP Talent Optimization
                                    </h3>
                                    <p>
                                        A consulting firm that assists organizations in identifying and building a talent strategy that aligns with their business goals. By utilizing HR analytics and behavioral data, we help organizations identify the internal drives and work preferences of their team members to ensure the right people are in the right position to achieve shared success.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row img-box-text">
                    <div class="col-md-12 header-1">
                        <h3>
                            Inspired by MVP’s and The Greatness of Team Work.
                        </h3>
                        <span class="devider-center"></span>
                        <p class="f-s-18 text-center">
                            Co-Founders Jared Jackson and Gary Laakso have been teammates and best friends since 8th grade. Now, with over 30+ years of combined recruitment experience, they are seeking to impact the way organizations hire and inspire their workforce. As sports fans, we appreciate when teams come together to achieve their goals and believe so much can be learned by blending concepts used in professional sports into how companies view and build teams. We also draw inspiration from companies and business leaders who believe their people are the key to success. Please join us in our mission to help everyone
                            <ht class="">
                                Win At Work!
                            </ht>
                        </p>
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var element = document.getElementById("about");
    element.classList.add("active");
</script>