@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="images/favicon.png" rel="icon">
    <title>MVPTalent</title>
</head>
<body>
    <section class="banner-inner">
        <h1 class="banner-caption">Forgot Password</h1>
    </section>
    <section class="login-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="login-box animated fadeInUp">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-12">
                                        <div class="home-login-main home-forgot-main">
                                            <div class="home-login-box">
                                                <h2>
                                                    Forgot Password
                                                </h2>
                                                <form class="home-login-form" id="Forgotpasswordform">
                                                    <div class="form-group">
                                                        <label>
                                                            Email Address
                                                        </label>
                                                        <input class="form-control" type="text" autocomplete="off" maxlength="50" name="username" id="username" required placeholder="Please enter email address">
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col-md-12">
                                                            <button type="button" id="btn" name="btn" onclick="ForgotPasswordEmail()" class="btn btn-primary text-center w-100 h-50px">Send Email</button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            Already have an account?
                                                            <a href="~/Home/login" class="text-danger register">Login</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>