@{
    ViewBag.Title = "howitworks";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 

<section class="banner-inner" style="background-image: url('../../New_Content/images/howitworks-banner.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h1>Training Camp</h1>
                <p>
                    Here you will find helpful content related to confidential job search,<br />hiring trends, interviewing advice, and more!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about-us gray-bg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 bounceIn animated">
                        <div class="text-center dis-initia-tag">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-3">
                <img src="https://media.istockphoto.com/vectors/megaphone-hand-business-concept-with-text-coming-soon-vector-vector-id1142899353?k=20&m=1142899353&s=612x612&w=0&h=LitXrb3Myd-X1z_s2MnSnXcU46CK8q-dxFQk3pJYtNE=" />
            </div>
        </div>
    </div>
</section>