
@model Web.Model.Client.JobsModel


<li><div class="search-best-jobs-tiles-inner-body"> <a onclick="jobdetailbbyid(14)" target="_blank" class="jobs-img"> <img src="/FileUpload//CompanyImage/9/Plus2.jpg" alt="image"></a><div class="jobs-body"> <div> <p class="head">Hospital<i class="fas fa-check-circle"></i></p> <a onclick="jobdetailbbyid(14)" target="_blank" style="cursor:pointer">Job for Senior Consultant </a><p class="text">Senior Consultant </p></div></div><div class="jobs-star"><i class="fas fa-star"></i></div></div><ul><li><span><i class="fas fa-map-marker-alt"></i> New Delhi </span></li><li><span><i class="fas fa-briefcase"></i> Full-time </span></li><li><span><i class="fas fa-wallet"></i> $ 1200000 -$ 1500000 </span></li><li></li></ul></li>


<script src="~/MvpTelent_js/jobalert.js"></script>