@{
    ViewBag.Title = "partnership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<section class="banner-inner">
    <h1 class="banner-caption">Partnership</h1>
</section>
<section class="partner-section">
    <div class="container">
        <div class="row align-items-center ">
            <div class="col-lg-8 col-md-8 col-sm-12 animated fadeInLeft">
                <h3>Become a Partner</h3>
                <p class="mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris exercitation exercitation ullamco laboris exercitation ullamco  nisi ut aliquip ex ea commodo consequat.
                </p>
                <p class="mt-3">
                    <i class="far fa-check-square mr-2"></i>
                    <b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                    </b>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
                <p>
                    <i class="far fa-check-square mr-2"></i>
                    <b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                    </b>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
                <p>
                    <i class="far fa-check-square mr-2"></i>
                    <b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt
                    </b>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 animated fadeInLeft">
                <div class="sidebar" style="max-width: 100%!important;">
                    <div class="box-area mb-4">
                        <form id="contactpatrnershipform">
                            <h3>Get in  Touch</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="form-group">
                                <input type="text" name="UName" id="UName" autocomplete="off" maxlength="30" placeholder="Enter your Name *" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="Email" id="Email" autocomplete="off" maxlength="50" placeholder="Email Address*" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="Phone" autocomplete="off" maxlength="15" id="Phone" placeholder="Phone Number" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="Subject" id="Subject" autocomplete="off" maxlength="100" placeholder="Please enter subject " class="form-control" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="Message" name="Message" placeholder="Type your message here..."></textarea>
                            </div>
                            <button class="button-secondry w-100" id="btncontact" name="btncontact" onclick="CreatePatnership()" type="button">Send Email</button>
                            <p class="mt-2 text-center">You accepts our <a href="javascript: void(0);">Terms and Conditions</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/MvpTelent_js/ContactUs.js"></script>