@{

    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<section class="banner-inner" style="background-image: url('../../New_Content/images/about-banner.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h1>Privacy Policy</h1>
            </div>
        </div>
    </div>
</section>
<section class="about-us">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <h3 class="mb-2 text-center">
                            Privacy Policy
                        </h3>
                        <span class="devider-center"></span>
                        <div class="mt-3">
                            <p>
                                MVP Recruitment, LLC, d/b/a MVP Talent Market (hereafter referred to as "we", "us", "our", "MVP Talent Market", or "Platform") is committed to protecting and respecting each User's privacy . Our online Privacy Policy is designed to describe our privacy practices and principles in a format that is easy to read and understand. Whenever the term "Platform" is used, it includes our Platform and our Website. By using our Platform, you acknowledge that you have read and agree to our Privacy Policy, and you agree to be bound by these terms.
                            </p>
                            <p>
                                Persons or businesses that decide to fully access all the features available through our Platform are required to register as a "User" which allows them to participate in the use or our Platform.
                            </p>
                            <p>
                                MVP Talent Market has established this Privacy Policy to let Users know the kinds of information we may gather from our Platform and related third party sites, how and why we gather the information, what we use the information for, and when we might disclose the information.
                            </p>
                            <p>
                                Please be advised that the practices described in this Privacy Policy apply only to information gathered by MVP Talent Market and any personal information we may also receive about Users from other online and offline sources, such as public databases, in connection with our Services. Each User that uses our Platform agrees to have their information and any purchases or hires they make processed in accordance with this Privacy Policy.
                            </p>
                            <h4>
                                Definitions
                            </h4>
                            <p>
                                Any words used in this Privacy Policy that are not otherwise defined herein shall have the meaning ascribed to them in our Terms of Use.
                            </p>
                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <h5>
                                        Acceptance of This Privacy Policy
                                    </h5>
                                    <p>
                                        By using our Platform and our Services (whether or not you register or create any kind of account with us), each User accepts the terms set forth in this Privacy Policy as well as in the Terms of Use.  Anyone that does not agree to the terms of this Privacy Policy and the Terms of Use, should not use the Platform. The only recourse for Users that do not agree to the terms of this Privacy Policy and the Terms of Use shall be to discontinue using our Services and our Platform. By using our Services, you consent to having your personal data transferred to and processed in the United States or any other country in which we may have offices, employees, independent contractors or wherever our servers may be located.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <h5>
                                        Consent
                                    </h5>
                                    <p>
                                        By using our Platform and Services each User consents to our Privacy Policy, as well as the limitation of liability, arbitration, refund policy and all the other Terms of Use that form the Agreement.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <h5>
                                        Changes to This Privacy Policy
                                    </h5>
                                    <p>
                                        We reserve the right to revise or amend the terms of our Privacy Policy at any time without prior notice and each User agrees that the revisions or amendments will be effective upon updating on this Website or our Platform. We agree to change the "Last Updated" date appearing at the top of this page to reflect each time we make any changes, and it is the responsibility of each User to check back often. Continued use of our Platform and Services following the posting of changes shall mean that each User accepts those changes.
                                    </p>
                                </li>
                            </ul>
                            <p>
                                This Privacy Policy together with our Website Terms of Use forms the Agreement with each User and sets out the basis on which any personal data we collect from them, or that they provide to us, will be utilized by us. Any content or information we collect will only be used in accordance with this Privacy Policy and the Terms of Use. Please read the following carefully to understand our views and practices regarding personal content, Information, and data and how it will be treated.
                            </p>
                            <p>
                                Through the use of our Platform and any use of the Services each User agrees to the terms provided in our Privacy Policy regarding the use of their personal content, information, and data that we collect by their visiting our Platform and Services. Users that feel our Privacy Policy is unacceptable to them, agree and represent that their only recourse is to discontinue use of the Platform and discontinue use of the Services.
                            </p>
                            <h4>
                                Communications From MVP Talent Market
                            </h4>
                            <p>
                                To improve our Platform and Services we may ask Users to complete surveys that we use for research purposes, although Users do not have to respond to them. We may periodically send Users information regarding the Services, updates, promotional emails new products, special offers, or other information which we think Users may find interesting. In such cases we will use the email address Users provided to us when they registered.
                            </p>
                            <h4>
                                Information We May Collect From Users
                            </h4>
                            <p>
                                Each User agrees that MVP Talent Market may collect the following information about them:  Name, contact information, including email address, phone number, age, gender, IP (Internet Protocol) address, information supplied during the processing of registering with us, data usage trends, data showing the effectiveness of promotional campaigns, browser information, demographic information, browsing preferences, browsing data, the type of device being used, Platform usage information, information regarding any urls used with the Services, data regarding use of our Services, other information relevant to surveys and/or offers, and any other information we are legally allowed to collect. We require this information to provide Users with a better experience when using our Platform and Services.
                            </p>
                            <h4>
                                Heat Map and Tracking Software
                            </h4>
                            <p>
                                We may use various types of tracking software ("Tracking Software")  to track mouse movement, scrolling, time spent on a page/screen, pages/screens visited, and clicks in order to better understand our User's needs and to optimize the use of our Services and Platform. The most common form of Tracking Software is referred to as a "heat map" and the forms of heat maps include scroll maps, click maps, and movement maps. Heat maps are graphical representations of data where values are depicted by color. Users hereby specifically agree to our use of Tracking Software and heat maps.
                            </p>
                            <p>
                                Our Tracking Software may capture screen shots of User's mouse movements, scrolling, and clicking habits which helps us understand what Users want, care about, and do when using our Platform by visually representing their clicks, taps and scrolling behavior. Some of the reasons why we use heat map software are as follows: to see if Users are reaching important Content or failing to see it, to find and use a page's main links, buttons, opt-ins, and calls to action ("CTAs"), to see if Users are getting distracted by non-clickable elements, and to compare usage against mobile, tablet and desktop devices.
                            </p>
                            <p>
                                We use Tracking Software to help us better understand our User's experience (e.g. how much time they spend on which pages, which links they choose to click, what Users do and don't like, etc.) and this enables us to build and maintain our Platform and Services with User feedback. This Traffic Software uses cookies and other technologies to collect data on our Users' behavior and their devices. This includes a device's IP address (processed during your Website visit or use of our Platform and stored in a de-identified form), device screen size, device type (unique device identifiers), browser information, geographic location (country only), and the preferred language used to display our Platform. This Tracking Software stores this information on our behalf. The company we obtained this tracking software from is contractually forbidden to sell any of the data collected on our behalf.
                            </p>
                            <h4>
                                Website and Platform Analytics
                            </h4>
                            <p>
                                We use multiple web analytics tools provided by service partners, including but not limited to, Google Analytics to collect information about how you interact with our Website or Platform, including what pages you visit, what site you visited prior to visiting our Platform, how much time you spend on each page, what operating system and web browser you use and network and IP information. Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network. We use the information provided by these tools to improve our Services. These tools place persistent cookies in your browser to identify you as a unique user the next time you visit our Platform. Each cookie cannot be used by anyone other than the service provider (example: Google for Google Analytics). The information collected from the cookie may be transmitted to and stored by these service partners on servers in a country other than the country in which you reside. Though information collected does not include personal data such as name, address, billing information, etc., the information collected is used and shared by these service providers in accordance with their individual privacy policies. You can control the technologies we use by utilizing settings in your browser or third-party tools.  You can opt-out of making your activity available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js and dc.js) from sharing information with Google Analytics about visits activity. For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page:
                                <a href="https://policies.google.com/privacy">
                                    https://policies.google.com/privacy
                                </a>
                            </p>
                            <h4>
                                Targeted Advertisements
                            </h4>
                            <p>
                                Targeted ads or interest-based offers may be presented to you based on your activities on our Platform. These offers will display as varying product banners presented to you while browsing. We also partner with third parties to manage our advertising on our webpages and our Platform.  Our third party partners may use technologies such as cookies to gather information about such activities in order to provide you with advertising based upon your browsing activities and interests, and to measure advertising effectiveness.  If you are in the US or Canada and wish to opt out of interest-based advertising visit <a href="http://preferences-mgr.truste.com" class="text-underline">http://preferences-mgr.truste.com </a> If you are located in the European Union visit <a href="https://youronlinechoices.eu" class="text-underline">www.youronlinechoices.eu</a> Please note you will continue to receive generic ads.
                            </p>
                            <h4>
                                What We Do With the Information We Gather
                            </h4>
                            <p>
                                Each User agrees that MVP Talent Market may use the information we gather as follows:  In order to process a User's purchase or use of our Services, we must share certain personal information every time a User signs up for our Services or uses our Platform. Such information may include the User's e-mail address, physical address, phone number, and credit card information. Our service representatives may use your telephone number or e-mail address to notify you of the status of your purchase as necessary and appropriate and to notify you from time-to-time of updates to our Services or the Platform, new job opportunities, interview requests, or the status of your candidacy. We may share User information with vendors, business clients, and other third-party providers who are performing services for us. We may also use User information for internal record keeping and data analysis. For our statistical purposes, we gather details of User visits to our Platform and the information that Users access, including, but not limited to, traffic data, location data, browser usage, page visits, weblogs, and other communication data. When Users contact us, we may keep a record of that correspondence. We also use Users information to ensure that Content from our Platform and the functionality of our Platform is presented in the most effective manner for computer or mobile devices.
                            </p>
                            <p>
                                From time to time, personal financial information (including credit card information) may be transmitted to facilitate transactions with MVP Talent Market between Company's and Candidates. We will not share such personal financial information with third parties other than those third parties such as banks, processing gateways and merchant processors required to process a User's purchase, and Users understand that MVP Talent Market cannot control how the banks, processing gateways or merchant processors will use such personal financial information. Therefore, Users using our Platform and Services hereby consent to such sharing of personal financial information. Each User agrees to assume the risk and agrees that it is their responsibility to properly handle, secure, not store and destroy such personal financial information as may be necessary to protect it from misuse. Users using our Platform and Services hereby consent to such sharing of personal financial information and hold us harmless and indemnify us from any claims, breaches, loss, or damage resulting from the use of those banks, processing gateways, payment facilitators, and merchant processors we use. MVP Talent Market shall not be liable to Users or any third party for misuse of such Content or personal financial information.
                            </p>
                            <p>
                                We may disclose information we collect from Users to an affiliate or other third party in the event of any merger, sale, joint venture, assignment, reorganization, liquidation, transfer or other disposition of all or any portion of our business, assets, or stock.
                            </p>
                            <p>
                                We may work with third-party advertising companies or with other third-parties that may advertise with us or provide their services through our Platform. These various third-parties may use advertising technologies such as cookies, web beacons and other similar advertising technologies. They may also use aggregated information about your visits to our Website or use of our Platform and third-party sites in order to provide advertisements and promotions about our Services and Platform that we believe Users may find of interest.
                            </p>
                            <p>
                                We may also release Users information when we believe release is appropriate to comply with the law, enforce our Terms of Use and Privacy Policy, or protect ours or other's rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for data analysis, improving our Services and Platform, marketing, promotional, advertising, or other uses.
                            </p>
                            <h4>
                                Online eCommerce Platform
                            </h4>
                            <p>
                                We may use an online e-commerce platform that allows us to provide the Services and make our Platform available to you.  Your information, including personal information, may be transmitted through, and stored on third-party servers in an encrypted format.  We do not store your personal financial information and it is not processed on our servers. By using our Services and/or Platform, you consent to our collection, disclosure, storage, and use of your personal information in accordance with this Privacy Policy and our Terms of Service. You hereby consent to such sharing of personal financial information and hold us harmless and indemnify us from any claims, breaches, loss, or damage resulting from the use of the ecommerce platforms we use. Each User agrees to assume the risk and agrees that it is their responsibility to properly handle, secure, not store and destroy such personal financial information as may be necessary to protect it from misuse. You agree that we are not liable to you for misuse of such Content or personal financial information.
                            </p>
                            <h4>
                                Social Media, Posts, Texts, Forums and Profiles
                            </h4>
                            <p>
                                Each User agrees that MVP Talent Market may make available through its Website, Platform, third party sites or its Services certain forms of media either now existing or to be created in the future (for example, social media, message boards, chat functionality, videos, pictures, images, profile pages, text messaging and blogs) to which Users may be able to post Information. Please note that any Information Users provide on these various forms of media may become public and may be available to anyone who visits our Website or uses our Platform, third party sites, and to the general public, including without limitation ratings and reviews. We urge Users to exercise discretion and good manners when providing Information of any type or kind and deciding to disclose any personal information.
                            </p>
                            <p>
                                EACH USER AGREES THAT MVP TALENT MARKET SHALL NOT BE RESPONSIBLE FOR ANY LOSS CAUSED BY THE USE BY MVP TALENT MARKET OR ANY UNAUTHORIZED PERSON OR ENTITY OF ANY INFORMATION THAT USERS DISCLOSE THROUGH OUR WEBSITE, OUR APPLICATOIN, THIRD PARTY SITES OR THE USE OF THE SERVICES.
                            </p>
                            <h4>
                                California Online Privacy Protection Act Compliance
                            </h4>
                            <p>
                                As part of the California Online Privacy Protection Act, all users of our Platform may make any changes to their information at any time by logging into their account and changing their information. We will not distribute their personal information to outside parties without their consent. We will not distribute their personal information to outside parties without their consent, unless permitted by the Terms of Use or this Privacy Policy.
                            </p>
                            <h4>
                                Children Online Privacy
                            </h4>
                            <p>
                                If you are under 18 years of age do not use our Platform. Anyone under 18 years of age should not access our Platform and should not use our Services. Our Platform and Services are not intended for persons under 18, and we will not knowingly collect any information from anyone under the age of 18. If we discover that we have collected any personally-identifying information from a person under the age of 18, we will promptly remove that information from our database.
                            </p>
                            <h4>
                                Security Not Guaranteed
                            </h4>
                            <p>
                                MVP Talent Market uses reasonable organizational, technical, and administrative measures to protect each User's personal information under our control. However, we cannot guarantee 100% percent protection and security of such personal information.  Please do not email or text us credit card information and/or other sensitive information.
                            </p>
                            <h4>
                                What we Don't do with the Information we Gather:
                            </h4>
                            <p>
                                We will not disclose, sell, distribute, rent, lease or use any of a User's data or pass on any such personal information to third parties, which are not our officers, directors, members, managing members, employees, business partners, affiliates, strategic partners, licensors, licensees, independent contractors, third party service providers, agents or representatives, unless we have your permission or are required by law to do so.
                            </p>
                            <p>
                                We do not store your credit card information. The credit card information and actual processing does not take place on and is not stored on our servers. The transaction is processed on the servers of the particular credit card processor we use to process the transaction.
                            </p>
                            <h4>
                                Security
                            </h4>
                            <p>
                                We are committed to ensuring that personal information is secure. All non-financial Information and Site Content provided to us is stored on our secure servers. In order to prevent unauthorized access or disclosure, we have taken all reasonable steps and put in place suitable safeguards to secure the information we collect from Users online.
                            </p>
                            <p>
                                Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect each User's personal data, we cannot guarantee the security of their data transmitted to our Platform; any transmission is at the risk of each User. Once we have received personal information, we will use the necessary procedures and security features to try to prevent unauthorized access. We will take all reasonable steps necessary to ensure that personal information and data is treated securely and in accordance with this Privacy Policy.
                            </p>
                            <h4>
                                Use of Cookies
                            </h4>
                            <p>
                                Our Platform uses cookies. A cookie is a small file which asks permission to be placed on a computer's hard drive. Once someone has accepted the cookie, the file is added and the cookie helps analyze web traffic and browsing habits, such as what areas of the Website or Platform are visited most frequently. At times we may gather information through the use of a cookie file which enables us to gather statistical information regarding the use of our Website or Platform. This helps us to improve not only our Website and Platform, but functionality and the Services we can provide to Users. We may use analytical software to track User habits and trends.
                            </p>
                            <p>
                                Users do have the choice to decline cookies. Most web browsers automatically accept cookies, but people can usually modify their browser setting to decline cookies if they prefer. Should you choose to decline cookies you may be unable to access certain information or parts of our Website or Platform, and some or all of the Services may not work properly. Our advertisers and promoters may also use cookies, over which we have no control.
                            </p>
                            <h4>
                                IP Address
                            </h4>
                            <p>
                                An IP (Internet protocol) Address is automatically assigned to the computer that someone is using by their Internet Service Provider (ISP) and is identified and logged automatically in our server log files whenever someone visits our Platform. This also allows us to identify the time(s) of visit(s) and the page(s) or screen(s) of the Platform that have been visited. Our collecting IP Addresses is considered a standard practice on the Internet and is done by many third party sites.
                            </p>
                            <h4>
                                Location Information
                            </h4>
                            <p>
                                We may also obtain information about a User's physical location, such as by use of GPS and other geolocation features in your computer, laptop, or mobile device, or from other information we collect. For example, a User's IP Address indicates the general geographic region from which they are connecting to the Internet.
                            </p>
                            <h4>
                                Contact Us
                            </h4>
                            <p>
                                Please email us at <a class="text-underline" href="mailto:support@mvptalentmarket.com">support@mvptalentmarket.com</a> if you would like to request that your personal information be removed from our data base.
                            </p>
                            <h4>
                                Links to Third Party Sites
                            </h4>
                            <p>
                                Our Platform may contain links to other third party sites. However, once Users have used these links to leave our Platform, they should note that we do not have any control over the third party site being visited. Therefore, we cannot be responsible or liable for the protection and privacy of any information provided or which is obtainable when visiting those third party sites which are not governed by this Privacy Policy or our Terms of Use. To the extent that you access or use our Platform through or on a third party website or Platform, then the privacy policy of that third party website or Platform will apply to your access or use of that third party website or Platform. We encourage our Users to read the privacy statements of other websites and Platforms before proceeding to use them.
                            </p>
                            <h4>
                                Access to and Control Over Information We Send Users
                            </h4>
                            <p>
                                From time-to-time MVP Talent Market may send Users emails about special offers, discounts, products, or Services available through MVP Talent Market. Users can opt out of receiving our emails by clicking the unsubscribe button at the bottom of the email.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>