@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-inner" style="background-image: url('../../New_Content/images/about-banner.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">
                <h1>Terms & Conditions</h1> 
            </div>
        </div>
    </div>
</section>
<section class="about-us">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <h3 class="mb-2 text-center">
                            Terms & Conditions
                        </h3>
                        <span class="devider-center"></span>
                        <div class="mt-3">
                            <p>
                                MVP Recruitment, LLC,  d/b/a MVP Talent Market (hereafter referred to as "we”, "us”, "our”, “MVP Talent Market”, or “Platform”) provides a platform or data base for job seekers and potential employers (“Platform”). These terms of use ("Terms of Use") form a binding agreement (“Agreement”) between you and us under which you may use our Platform. Please read these Terms of Use carefully. If you do not accept these Terms of Use, do not use our Platform or our Service. By using our Platform, you are indicating your acceptance to be bound by these Terms of Use. MVP Talent Market may revise these Terms of Use at any time by updating them. You should visit this page periodically to review the Terms of Use, because they are binding on you as of each effective Last Update shown above. The terms "you", “your”,  “Candidate”, “subscribers”, “Client”,
                            </p>
                            <p>
                                “Company”, and "User" as used herein refer to all individuals and/or entities accessing our Platform for any reason. When the term “Company” is used it means companies, businesses, organizations or other entities that are looking to fill a position of employment.  When the term “Candidate” is used it means a person or entity that is looking to be hired by a Company to fill a position as an employee, independent contractor or consultant. The term “Services” is used herein to refer to the services including but not limited to all offerings, services, search functions, Platform features, products, communication tools, and “Material” (as that term is defined below) made available to Users via the MVP Talent Market Platform, whether or not made available by MVP Talent Market or third-parties.
                            </p>


                            <h4>
                                Current Recruitment Fees Payable by Company
                            </h4>
                            <p>
                                Companies using our Platform agree to timely pay all subscription fees and recruitment fees that are payable as the result of using our Platform
                            </p>
                            <p>
                                Current Subscription Fees (AKA Membership Fees) are as follows: Bronze Membership $49/month, Silver Membership $149/month, Gold Membership $249/month.
                            </p>

                            <p>
                                The monthly subscription fee allows companies access to the platform and the various services we offer (such as Job Posting, Candidate Search, Applicant Tracking, Direct messaging, etc.)
                            </p>

                            <p>
                                In addition to the monthly subscription, a recruitment fee of 10% of the annual salary for the position filled will be owed by the hiring company and paid to MVP Talent Market for each successful hire (candidate begins employment). This fee will be invoiced upon acceptance of an offer and will be due in two equal installments as follows:  50% of the fee due on the employee start date and the remaining 50% of the fee due sixty (60) calendar days after the employee start date.
                            </p>


                            <p>
                                Should a candidate leave a position for any reason other than lay-off, change of ownership, or act of nature (illness, injury, or death) before ninety (90) calendar days of employment, the hiring Company will receive a credit for the amount paid to be used on a future hire. If payments are delinquent by more than fifteen (15) calendar days of the due dates, the guarantee will no longer apply, and a credit will not be granted. Delinquent payments may be subject to a late payment fee of 1.5% for every thirty (30) calendar days past due, or such lesser amount as required by applicable law.
                            </p>


                            <h4>
                                Interviewing Process:
                            </h4>
                            <p>
                                Hiring Companies should interview candidates in the same way they traditionally interview and hire prospective new employees (in-person, phone, video call). Companies agree that all communications with the Candidates prior to hiring, other than in-person interviews, should be done via the Talent Market platform. This includes direct messaging and scheduling of interviews. The MVP Talent Market Recruitment Success Managers will assist with Candidate communication and interview scheduling at the request of the hiring Company.
                            </p>
                            <h4>
                                Disclaimer
                            </h4>
                            <p>
                                MVP Talent Market expects all of its Users to comply with applicable laws in conjunction with their recruiting practices. However, by utilizing MVP Talent Market's on-line recruiting services, Candidate hereby acknowledges and agrees that MVP Talent Market is not affiliated with its Users’ businesses and makes no representations or warranties of any kind, express or implied, regarding the hiring practices of its Users. Users specifically waive any claims against MVP Talent Market with respect to its User’s hiring practices or the actions or inactions of its Users following hiring or employment. Users that get hired through the Services offered on our Platform hold us harmless and indemnify us from any and all claims related to an action or failure to act of another User, it being understood that we do not guarantee anything, we conduct no due diligence on Users, and Users agree to accept all risks of using our Platform.
                            </p>

                            <h4>
                                Use of Material
                            </h4>
                            <p>
                                The contents of our Platform, such as text, documents, information, data, features, our generated content, your generated content, third-party generated content, designs, graphics, articles, images, logos, button icons, software, and other "Material", are protected under both United States and foreign copyright, trademark and other laws. All Material is the property of MVP Talent Market or its Material suppliers or clients. The compilation (meaning the collection, arrangement and assembly) of all Material on our Platform is the exclusive property of MVP Talent Market and protected by U.S. and international copyright laws. Unauthorized use of the Material may violate copyright, trademark, and other laws. You must retain all copyright, trademark, service-mark and other proprietary notices contained in the original Material on any copy you make of the Material. You may not sell or modify the Material or reproduce, display, publicly perform, distribute, or otherwise use the Material in any way for any public or commercial purpose. The use of the Material on any other website or in a networked computer environment for any purpose is prohibited. MVP Talent Market authorizes you to view and download a single copy of the Material on its Platform solely for your personal, noncommercial use.
                            </p>
                            <p>
                                Except for Materials that originate from us, we do not claim ownership of any Materials that are transmitted, stored, or processed in your account. You retain all ownership of the Materials you post. You may control access to Materials through settings in your User account. You represent and warrant that you have the right to post all materials you submit. Specifically, you warrant that you have fully complied with any third party licenses, sublicenses, or permissions relating to such Materials and have taken all steps necessary to post, display or pass through such Materials on our Platform.
                            </p>
                            <h4>
                                License Grant to MVP Talent Market
                            </h4>
                            <p>
                                Solely to allow MVP Talent Market to use Materials you upload to our Platform reasonably without violating any rights you have in it, you grant us the following rights: by posting any Materials via our Platform, you expressly grant MVP Talent Market and our successors and assigns a worldwide, sublicensable, fully-paid and royalty-free, and non-exclusive license to use, reproduce, display, modify, adapt, revise, distribute, and perform the Materials you generate or post in connection with our business purpose without restriction. This license also grants MVP Talent Market the right to sell your Materials or otherwise distribute it outside of our Platform and regardless of the use we make of such Materials, you will not be entitled to any royalties, profits, or revenues of any kind.
                            </p>

                            <p>
                                You agree that our rights to the Materials you generate or post, which rights are set forth in this Section and elsewhere in these Terms of Use, apply even after we or you terminate this Agreement.
                            </p>

                            <h4>
                                License Grant to Users by MVP Talent Market
                            </h4>

                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <h5>
                                        License  Grant
                                    </h5>
                                    <p>
                                        Subject to the terms of this Agreement, MVP Talent Market hereby grants Users a, limited, revocable, non-exclusive, non-sublicensable, non-transferable, non-assignable, license to use the Platform software <b>(“Software”)</b> as long as they are fully paid subscribers not in violation of this Agreement.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <h5>
                                        Restrictions
                                    </h5>
                                    <p>
                                        Users shall not (and shall not allow any end user or third party to) (i) decompile, disassemble, dissect, replicate, make any changes to the Software code, or otherwise reverse engineer the Software or attempt to discover any source code or underlying ideas or algorithms of the Software, (ii) remove any product identification, copyright or other notices embedded within the Software, (iii) modify or create a derivative work of the Software (iv) remove or export any Software from the United States in violation of applicable laws or regulations, (v) relicense, sublicense, distribute, broadcast, reproduce, reformat, sell, promote, provide, lease or lend the Software to any third party, (vi) copy the Software or any portion thereof except as provided herein, or (vii) disclose any performance information or analysis from any source relating to the Software.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <h5>
                                        Ownership
                                    </h5>
                                    <p>
                                        As between the parties, MVP Talent Market shall retain all rights, title and interest in and to the Software including all modifications, derivative works or improvements, and all related intellectual property rights.
                                    </p>
                                </li>

                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <h5>
                                        Embedded  Software
                                    </h5>
                                    <p>
                                        User acknowledges that third party software may be embedded or otherwise delivered with the Software. User may only use such third party software as integrated with and part of the Software. The licensors of the third party software are intended beneficiaries of this Agreement, as it pertains to User’s rights to use such software.
                                    </p>
                                </li>

                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <h5>
                                        Intellectual Property Rights
                                    </h5>
                                    <p>
                                        MVP Talent Market represents and warrants to User that it has the unencumbered right to grant the license granted herein and that there is no claim relating to the Software based on actual or alleged violation of the intellectual property rights of any other person pending or threatened against MVP Talent Market.
                                    </p>
                                    <p>
                                        You shall not copy or adapt the HTML code that MVP Talent Market creates to generate its pages. It is also protected by MVP Talent Market's copyright.

                                    </p>
                                </li>
                            </ul>


















                            <h4>
                                Acceptable Site Use
                            </h4>
                            <p>
                                General Rules: Users may not use the Platform in order to transmit, distribute, store or destroy material (a) in violation of any applicable law or regulation, (b) in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy, publicity or other personal rights of others, or (c) that is defamatory, obscene, threatening, abusive or hateful.
                            </p>
                            <h4>
                                Platform Security Rules
                            </h4>
                            <p>
                                Users are prohibited from violating or attempting to violate the security of the Platform, including, without limitation, (a) accessing data not intended for such user or logging into a server or account which the User is not authorized to access, (b) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization, (c) attempting to interfere with Service provided to any user, host or network, including, without limitation, via means of submitting a virus to the Platform, overloading, "flooding", "spamming", "mailbombing" or "crashing", (d) sending unsolicited e-mail, including promotions and/or advertising of products or services, or (e) forging any TCP/IP packet header or any part of the header information in any e-mail posting. Violations of system or network security may result in civil or criminal liability. MVP Talent Market will investigate occurrences which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting Users who are involved in such violations.
                            </p>





                            <h4>
                                Intellectual Property Notice
                            </h4>



                            <p>
                                MVP Talent Market retains all ownership of our intellectual property, including our copyrights, patents, and trademarks.
                            </p>


                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        You represent and agree that MVP Talent Market retains ownership of all intellectual property rights of any kind related to our Platform and Services, including applicable copyrights, patents, trademarks, and other proprietary rights. Other trademarks, service marks, graphics and logos used in connection with our Platform and the Services may be the trademarks of other third parties. This Agreement does not transfer from us to you any of MVP Talent Market’s or third party’s intellectual property, and all right, title, and interest in and to such property will remain (as between you and us) solely with us. We reserve all rights that are not expressly granted to you under this Agreement.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Specifically, MVP Talent Market, and all other trademarks that appear, are displayed, or are used on the Platform or as part of the Services are registered or common law trademarks or service marks of MVP Talent Market or are those belonging to others who have given us approval to use. These trademarks may not be copied, downloaded, reproduced, used, modified, or distributed in any way without prior written signed permission from MVP Talent Market in its sole discretion.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Any comments or materials sent to MVP Talent Market or posted on our Platform, including feedback data, such as questions, comments, suggestions, or the like regarding the Materials of any such documents (collectively <b> “Feedback”</b>), shall be deemed to be the intellectual property of MVP Talent Market. MVP Talent Market’s use of the Feedback will be in compliance with these Terms of Use and our Privacy Policy, which is set forth on the Platform, and applicable laws. MVP Talent Market shall have no additional obligations with respect to such Feedback and shall be free to reproduce, use, disclose, exhibit, display, transform, create derivative works, and distribute the Feedback to others without limitation. Further, MVP Talent Market shall be free to use any descriptions, testimonials, recommendations, criticism, ideas, concepts, know-how or techniques contained in such Feedback for any purpose whatsoever, including but not limited to improving our Services, and developing, creating, and marketing our Services incorporating such Feedback.
                                    </p>
                                </li>


                            </ul>



                            <h4>
                                Specific Prohibited Uses
                            </h4>
                            <p>
                                The Platform may be used only for lawful purposes by individuals seeking employment and career information and employers seeking employees. MVP Talent Market specifically prohibits any use of the Platform, and all users agree not to use the Platform, for any of the following:
                            </p>
                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Posting any incomplete, false or inaccurate biographical information or information which is not your own accurate resume (living individual seeking employment on a full-time or part-time basis on his or her own behalf).
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Posting any franchise, pyramid scheme, "club membership", distributorship or sales representative agency arrangement or other business opportunity which requires an upfront or periodic payment, pays commissions only (no significant salary), requires recruitment of other members, sub-distributors or sub-agents.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Deleting or revising any Material posted by any other person or entity.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Using any device, software or routine to interfere or attempt to interfere with the proper working of our Platform or any activity being conducted on our Platform.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Taking any action which imposes an unreasonable or disproportionately large load on our Platform's infrastructure.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        If you have a password allowing access to a non-public area of our Platform, disclosing to or sharing your password with any third parties or using your password for any unauthorized purpose.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Notwithstanding anything to the contrary contained herein, using or attempting to use any engine, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search our Platform other than the search engine and search agents available from MVP Talent Market on our Platform and other than generally available third party web browsers (e.g., Netscape Navigator, Microsoft Internet Explorer).
                                    </p>
                                </li>


                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Attempting to decipher, decompile, disassemble or reverse engineer any of the software comprising or in any way making up a part of the Platform.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Aggregating, copying or duplicating in any manner any of the Materials or other information available from the Platform.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Using any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, "data mine," or in any way reproduce or circumvent the navigational structure or presentation of our Platform or its Materials.
                                    </p>
                                </li>

                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Harvesting or collecting information about Platform visitors or members without their express consent.
                                    </p>
                                </li>

                            </ul>


                            <h4>
                                User Responsibilities
                            </h4>

                            <p>
                                You, and you alone, are responsible for your account and anything that happens while you are signed in to or using your account. Your security is your responsibility.
                            </p>

                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        User Account Security. If you register as a User, you will create a personalized account which includes a unique username and a password to access our Platform and to receive messages from MVP Talent Market and our Users.  You are responsible for maintaining the security of your account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account. You agree to notify MVP Talent Market immediately of any unauthorized use of your account, or any other breaches of security. We will not be responsible for any liabilities, losses, or damages arising out of the unauthorized use of your computer, mobile device, or other computing device and/or account.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        MVP Talent Market does not select or endorse any individual or business User nor any Materials they may post anywhere on our Platform. MVP Talent Market does not make any warranty, guarantee, or representation as to the authenticity, ability, competence, quality, finances, or qualifications of any User. MVP Talent Market strongly advises and encourages Users to research, conduct their own due diligence, and do a background check on any User before hiring them, interacting with them, accepting their advice or Services, entering into any type of joint venture, partnership, business, or other relationship, or offering them employment, consulting fees, performance based fees, or equity.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        No Reliance on Materials. Materials of any type or kind available on or through our Platform are provided for informational and research purposes only, with no assurance of the truth, correctness, or accuracy of such Materials. Materials available on or through our Platform are not a  substitute for professional, employment, business, tax, financial, or legal advice. You should not delay or forego seeking independent advice regarding your particular situation. Delay in seeking such advice could result in waiver of any claims you may have, depending on the applicable statute(s) of limitation. The Materials available on or through our Platform, regardless of its source, is not regulated or overseen by any governmental or regulatory authority or agency.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        MVP Talent Market Does Not Guarantee Results. From time to time, Users may submit reviews, posts, ratings, or other information about other Users; these reviews, posts, ratings, or other information do not constitute a guarantee, warranty, or prediction regarding the outcome of any future matter or situation. You agree that MVP Talent Market shall have no responsibility or liability of any kind for any MVP Talent Market’s’ Materials or professional, employment, business, tax, financial, or legal advice you encounter on or made available through our Platform, and any use or reliance on MVP Talent Market’s Materials or professional, employment, business, tax, financial, or legal advice is solely at your own risk. You understand and agree to hold us harmless and indemnify us from any such claims, of any type or kind, that you may be able to make as a result of those Materials you encounter on or made available through our Platform.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        We have the right (though not the obligation) to, in our sole discretion, determine whether or not any User generated content is appropriate and complies with these Terms of Use, or refuse or remove any User generated content that, in our reasonable opinion, violates any of MVP Talent Market’s policies or is in any way harmful, inappropriate, or objectionable. MVP Talent Market further reserves the right to make formatting and edits and change the manner any User generated content is displayed on our Platform.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Compliance with Laws. You represent, warrant, and agree that: (i) you have the authority to, and are of legal age in your jurisdiction to, bind yourself to these Terms of Use; (ii) your use of our Platform will be solely for purposes that are permitted by these Terms of Use; (iii) your use of the Services will not infringe or misappropriate the intellectual property rights of any third party; and (iv) your use of the Services will comply with all local, state and federal laws, rules, and regulations, and with all other MVP Talent Market policies.
                                    </p>
                                </li>


                            </ul>

                            <h4>
                                Job Postings and Candidate Database Search Service
                            </h4>

                            <p>
                                By using the online job posting feature of our Platform or the resume database search service (the "Search Candidates Services"), you agree to be bound by, and comply with our profile posting rules and the Candidate search rules, respectively. Candidates will be directed to create two profiles.  One profile will be a public facing but confidential profile without their name or other identifying information. The second profile will have identifiable information and resume type information that will only be sent to a potential employer if the Candidate wishes to apply to a posted employment position. MVP TALENT MARKET IS UNDER NO OBLIGATION TO MONITOR THE INFORMATION RESIDING ON OR TRANSMITTED TO THE JOB BOARD OR RESUME DATABASE, HOWEVER, YOU AGREE THAT MVP TALENT MARKET RESERVES THE RIGHT TO MODIFY, REJECT OR ELIMINATE ANY INFORMATION RESIDING ON OR TRANSMITTED TO OUR PLATFORM, OR TERMINATE THE ACCOUNT OF ANY USER, THAT COMPANY BELIEVES, IN ITS SOLE DISCRETION, TO BE UNACCEPTABLE OR IN VIOLATION OF THESE TERMS OF USE.
                                Users specifically authorize MVP Talent Market to share their Company or Candidate profile with interested Users for the purpose of Users accessing employment opportunities.

                            </p>
                            <h4>
                                Job Posting Rules
                            </h4>

                            <p>
                                By using the MVP Talent Market Platform, Users agree to abide by and comply with the following rules:
                            </p>

                            <p>
                                Post only real jobs and resumes. Job postings must be individual openings for traditional, W-2 or 1099 employees in the post-acute care and senior living industry, as well as leadership positions in the skilled nursing, long-term care, assisted living, independent living, home care, hospice, and other healthcare industries that we approve in our sole discretion. All information contained in postings must contain sufficient detail to be clear and accurate and not misleading in any way. Postings which require the User to "email for more details" are not supported. Use only professional language in your postings.
                            </p>
                            <p>
                                Should a Company request to interview a Candidate (or if a Candidate applies to a Company opportunity) and the Company has recently spoken with or received the Candidate’s resume within the last ninety (90) calendar days without the use of our Platform, the Company Agrees to notify MVP Talent Market within five (5) calendar days with proof of resume receipt, otherwise Company agrees (i) that it is waiving all claims disputing recruitment fees payable to MVP Talent Market and (ii) Company agrees it owes the recruitment fee to MVP Talent Marketing in the event the Candidate is hired within three hundred sixty-five (365) calendar days of the last date of communication on the Platform. In the event Company hires a Candidate it was initially introduced to on the Platform during the three hundred sixty-five (365) calendar day period prior to hiring, and such hire is made outside of the Platform to avoid paying MVP Talent Market its recruitment fee, then in such event the Company agrees it shall be liable for the full recruitment fee (currently 10% of the annual salary for the position filled) plus reasonable attorney fees and costs, and in addition the Company and Candidate risk being suspended from the Platform in the sole and absolute discretion of MVP Talent Market.
                            </p>
                            <h4>
                                Users shall not post
                            </h4>

                            <p>
                                Positions that require a monetary investment by the job seeker at any time except for positions that clearly and noticeably indicate that the job seeker will pay a fee if they accept the position;
                                Positions that defame, harass, abuse, threaten, or incite violence towards any individual or group;


                            </p>
                            <p>
                                Positions that relate to any unlawful activity;
                                Positions that infringe on any proprietary right of any person or company, including patent, trademark, trade secret, copyright, right of publicity, or other rights;
                            </p>
                            <p>

                                Anything related to the adult entertainment industry or are for positions that are pornographic, discriminatory, or otherwise victimizes or intimidates an individual or group on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability.
                            </p>
                            <p>
                                We cannot monitor every posting on the Platform, nor do we take responsibility for the content posted by our Users. However, we do randomly monitor postings to promote compliance with these rules. We prohibit the sending of unsolicited commercial email. Users involved in such activity may have their accounts suspended.
                            </p>
                            <p>
                                Your job postings must be for your own internal use only. You may not sell or provide MVP Talent Market  job posting services to third parties.
                            </p>

                            <p>
                                Postings found to be in violation of any of the conditions of these Terms of Use may be removed without warning. MVP Talent Market will not be responsible for notifying the poster of such removal or rejection. Interpretation of the rules is at the sole discretion of MVP Talent Market. These rules may be changed at any time without warning or notification, but we will post a new effective date at the top of these Terms of Use whenever we make a change.
                            </p>
                            <h4>No Confidentiality or Fiduciary Relationship is Established</h4>
                            <p>
                                Use of the MVP Talent Market Platform does not form any confidential relationship or fiduciary duty on the part of MVP Talent Market with its Users. Information posted or made available on or through our Platform, including, without limitation, any responses to questions posted on the Platform; the User generated content; information posted publicly on the Platform; or information sent in an unsolicited message to a User is not intended as legal, business, employment, or financial advice, is not confidential, and does not create a fiduciary relationship among the Users or among MVP Talent Market and Users. It is simply information to be used for research and informational purposes only and does not replace advice you would get from conducting your own due diligence or retaining your own professional adviser. You agree that any hiring, contracting with, or retaining of Candidates or others you meet through the use of our Platform will be done outside of our Platform and we are not a party to that contractual agreement. You agree that communications requiring confidentiality shall take place outside our Platform, such as via telephone, in person, or your own private email. Users agree that actual interviews of Candidates shall be conduct by the employer in the same way they traditionally interview and hire. While the Candidate Sourcing, Interview Scheduling, and Applicant Tracking can be done via our Platform, Users agree that any private information needed for background checks, CORI or payroll shall be done outside of our Platform.
                            </p>
                            <p>
                                MVP Talent Market merely facilitates communications between Users by providing our Platform as a directory and for communication between interested parties. MVP Talent Market shall not be a party to any contracts between Users.
                            </p>
                            <h4>
                                Candidate Search Service Rules
                            </h4>
                            <p>
                                By using the MVP Talent Market Platform, Users agree to abide by and comply with the following rules:
                            </p>

                            <p>
                                Users may only contact Candidates regarding bona fide career opportunities and real job openings. Positions offered must not involve up-front fees or other amounts payable by the Candidate. Prospective employers may not offer the following through our Platform:
                            </p>
                            <p>
                                Positions that require a monetary investment by the job seeker at any time;
                                Advertisements for multi-level marketing positions; and
                                Anything related to the sexually-oriented adult entertainment industry.
                                Information obtained from the Candidate Search database must be for your own internal use only. You may not sell, distribute, or provide any personal information from the Candidate Search database to third parties without the prior consent of the owner of such personal information.

                            </p>
                            <p>
                                Accounts of Users found to be in violation of any of the conditions of these rules may be suspended or terminated immediately. MVP Talent Market will not be responsible for notifying the User of such suspension or termination. Fees paid on accounts suspended or terminated for violation of these rules are non-refundable. Interpretation of the rules is at the sole discretion of MVP Talent Market.
                            </p>

                            <h4>
                                Copyright Infringement and DMCA Policy.
                            </h4>

                            <p>
                                If you believe that any Materials located on our Platform or linked to a third party website by us violates your copyright, please notify MVP Talent Market in accordance with our Digital Millennium Copyright Act Policy.
                            </p>

                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Termination of Repeat Infringer Accounts. MVP Talent Market respects the intellectual property rights of others and requests the same of Users. Pursuant to 17 U.S.C. 512(i) of the United States Copyright Act, we will terminate a User’s access to and use of our Platform if the User is considered by us a repeat infringer of the copyrights or other intellectual property rights of MVP Talent Market or others. We may terminate access of Users who we believe repeatedly provide or post protected third-party generated content without appropriate rights and permissions.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        DMCA Take-Down Notices. If you are a copyright owner or an agent of a copyright owner and believe, in good faith, that any Materials provided on our Platform infringe upon your copyrights, you may submit a notification pursuant to the Digital Millennium Copyright Act (see 17 U.S.C 512) (“DMCA”) by sending a properly formatted take-down notice in writing to MVP Talent Market’ designated copyright agent:  _______________________.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Response To DMCA Take-Down Notices. If MVP Talent Market takes action in response to an infringement notice, it will make a good faith attempt to contact the party that made such content available by means of the most recent email address, if any, provided by that party to MVP Talent Market. Any DMCA infringement notice may be forwarded to the party that made the content available or to third parties such as <b><a target="_blank" href="https://lumendatabase.org/">https://lumendatabase.org/</a></b>.
                                    </p>
                                </li>


                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Counter-Notices. If you believe that your generated content that has been removed from the Platform is not infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or pursuant to the law, to post and use the content you submitted to the Platform, you may send a properly formatted counter-notice to MVP Talent Market’s copyright agent using the contact information set forth above.
                                    </p>
                                </li>


                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Response to DMCA Counter-Notices. If a counter-notice is received by MVP Talent Market’s copyright agent, MVP Talent Market may send a copy of the counter-notice to the original complaining party informing such person that it may reinstate the removed content in 10 business days. Unless the copyright owner files an action seeking a court order against the content provider, member or user, the removed content will be reinstated on the Platform in 10 to 14 business days after receipt of the counter-notice.
                                    </p>
                                </li>




                            </ul>
                            <h4>Fee Based Services Rules</h4>
                            <h5>Billing Policies</h5>
                            <p>
                                Users may choose to utilize certain paid Services of MVP Talent Market. In doing so you agree to the pricing and payment terms for the applicable Services. Note that we may update Services pricing from time to time. Any recurring charges are billed in advance of Service. MVP Talent Market may (1) add new Services for additional fees and charges, at any time in its sole discretion, or (2) amend fees and charges for existing services, at any time in its sole discretion upon notice.

                            </p>

                            <p>
                                We may also provide certain Services via our third-party partners and you agree that your use of such third-party Services is subject to the contractual (including payment) terms presented by such third parties should you wish to use their Services. You further agree that MVP Talent Market has no responsibility or liability for such third-party Services and your use of such Services is entirely at your own risk and you hereby agree to hold us harmless and indemnify us from any loss of any kind related to your use of third-party Services obtained, received or sourced through our Platform. Any change to the fees for paid Services shall become effective in the billing cycle following notice of such change to you.
                            </p>
                            <h4>
                                No Refunds for Paid Services
                            </h4>
                            <p>
                                You may cancel your subscription to paid Services at any time, pursuant to the Subscription Plan Cancellation policy below, and you accept that you will not receive a refund of pre-paid fees for such cancellation, except where otherwise set out in this Agreement. In the event that MVP Talent Market suspends, limits, conditions, or terminates your access to the Services and/or your account due to your material breach of this Agreement or any other agreement that you have with MVP Talent Market, you understand and accept that you will not receive a refund for any unused benefits with respect to fees that you have pre-paid for a subscription plan, product or service, and to the extent that you have not paid the applicable fees, you will remain liable to pay MVP Talent Market the entire amount due for the subscription, product or service, as applicable.
                            </p>
                            <h4>
                                Payment Information; Taxes; Delinquent Payments
                            </h4>
                            <p>
                                If you are a registered User, you authorize MVP Talent Market to provide any authorized person you allow access to your User account, or such other persons as you may hereafter specify in writing, access to view, change, and inquire, about bank, payment, tax or other information relating to your business relationship with MVP Talent Market.
                            </p>
                            <p>
                                All information that you provide in connection with a monetary transaction must be accurate, complete, and current. You agree to pay all charges incurred by users of your credit card, debit card, or other payment method used in connection with a purchase or transaction at the prices in effect when such charges are incurred. You will also pay any applicable taxes relating to such transactions. If at any time MVP Talent Market is required by a taxing authority to pay any taxes not previously collected from you, you will promptly submit such taxes (including applicable penalties and interest, if any) to MVP Talent Market upon written notice.
                            </p>
                            <p>
                                If you elect to add additional paid Services to your selected subscription or upgrade your subscription, we will invoice you for such Services and upgrades, and/or charge your credit or debit card (or other payment method) accordingly.
                            </p>

                            <p>
                                Delinquent payments may bear interest at the rate of one-and-one-half percent per month (eighteen percent per annum) or the highest rate permitted by law, if less, from the payment due date until paid in full. You will be responsible for all reasonable expenses (including reasonable legal fees and expenses) incurred by MVP Talent Market in collecting delinquent amounts, except where the delinquent amounts are due to billing inaccuracies. In addition, if you are late in payment of any fees, we reserve the right to either (i) immediately suspend or terminate your access to the applicable Services without notice, and in the event of any such suspension or termination, you will remain responsible for the entire amount of fees owing for such Services; or (ii) bill your credit/debit card on file with us under this or any other agreement. Unless your subscription plan is terminated timely and correctly, you will continue to accrue charges even if you don't use the subscribed Services.
                            </p>
                            <h4>
                                Credit Cards
                            </h4>
                            <p>
                                In the event that you pay for any Services using a credit card, you authorize MVP Talent Market to charge your credit card (or other acceptable payment method that you have chosen from those offered) (<b>"Payment Method"</b>), for the applicable fees for the duration of the applicable term of your selected subscription plan or other paid service or product, together with any applicable sales, use, excise, goods and services tax (GST), consumption or other similar tax applicable to the Services. You represent that you are authorized to use the Payment Method on your Company's behalf and you agree to accept an electronic record of a receipt. If at any time your Payment Method will not accept the charge for fees due, you agree that MVP Talent Market may suspend or terminate your access to the applicable Services and that you will continue to remain liable for the full payment for such Services even after your access to the Services has been terminated or suspended. By providing any Payment Method, you agree that applicable credit card, debit card and billing information may be shared with third parties such as payment processors and credit agencies, and/or collection agencies for the purposes of checking your credit, effecting payment, collecting payments and late fees if applicable, and for providing the applicable Services to you or in order to enforce our agreement with you. We may also share this information with law enforcement authorities and in response to subpoenas, court orders, and search warrants.
                            </p>

                            <h4>
                                Subscription Services
                            </h4>
                            <p>
                                <b>EXCEPT AS OTHERWISE PROVIDED IN A SIGNED WRITTEN AGREEMENT BETWEEN YOU AND MVP Talent Market YOU ACKNOWLEDGE AND AGREE THAT YOUR SUBSCRIPTION TO THE PAID SERVICES WILL AUTOMATICALLY RENEW UNLESS YOU CANCEL IT OR WE SUSPEND OR TERMINATE IT IN ACCORDANCE WITH THESE TERMS OF USE.</b>
                            </p>
                            <h4>
                                Subscription Plans and Renewals
                            </h4>
                            <p>
                                Subscription Plans will automatically renew for recurring periods depending on the duration of your selected Subscription Plan, and as authorized by you by agreeing to the automatic renewal of your Subscription Plan during the sign-up process, unless you notify MVP Talent Market of any changes or requests not to renew (i.e., to cancel), prior to the end of the Initial Plan Term (each, a "<b>Renewal Plan Term</b>") or each Renewal Plan Term. Cancellation requests should be made in accordance with the instructions provided below. At the time of the automatic renewal, the applicable subscription or other fees will be charged to the Payment Method provided and/or associated with your account, or you will be invoiced for payment.
                            </p>
                            <h4>
                                Subscription Plan Cancellation
                            </h4>
                            <p>
                                For paid Subscription Plans, you may cancel at any time effective at the end of the Initial Plan Term or any Renewal Plan Term by calling us at 1- (530) 420-5627 (US). You may also send us an email at <b><a href="mailto:support@mvprecruitment.com">support@mvprecruitment.com</a></b> and one of our representatives will contact you. Make sure you cancel prior to your next billing renewal date to avoid any unwanted charges. Your account will be cancelled effective on your next billing date. Once your account is cancelled you will lose access to all Materials and features under your selected Subscription Plan. You agree and accept that you will not receive any refund if you request a cancellation and that the cancellation request shall become effective at the end of the Initial Plan Term or Renewal Plan Term in which the cancellation notice is received by MVP Talent Market
                            </p>

                            <h4>
                                User Dispute Resolution Procedures
                            </h4>

                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Users agree that any disputes between Users shall be resolved by arbitration or litigation as set forth in the written agreement entered into between them. Users agree that any such disputes between Users shall be settled, arbitrated, or litigated between them and they agree that they shall hold harmless and shall indemnify MVP Talent Market from and against any such claims, demands, lawsuits or losses and that in either event the maximum liability of MVP Talent Market shall be $250.00. In the event a User or Users have a dispute of any kind or nature against MVP Talent Market, such User or Users, agree that such claim shall be brought to arbitration with the American Arbitration Association pursuant to their rules of commercial arbitration. Users agree that there shall be a one person arbitration panel. The laws of the State of Rhode Island shall apply and the place of arbitration shall be in East Greenwich, Rhode Island.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Jury Trial Waiver. You and MVP Talent Market acknowledge and agree to waive the right to a trial by jury as to all matters, disagreements, disputes, or controversies of any kind or nature that may exist between you and MVP Talent Market.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        No Class Actions or Representative Proceedings. You and MVP Talent Market acknowledge and agree to waive the right to participate as a plaintiff or class member in any purported class action lawsuit, class-wide arbitration, private attorney-general action, or any other representative proceeding as to all disagreements, disputes, or controversies of any kind or nature. Further, unless you and MVP Talent Market both otherwise agree in writing, the arbitrator may not  consolidate more than one party’s claims and may not otherwise preside over any form of any class or representative proceeding.
                                    </p>
                                </li>
                            </ul>
                            <h4>
                                Disclaimer of Warranties
                            </h4>
                            <p>
                                We provide our Services as is, and we make no promises or guarantees about our Services. Please read this section carefully; you should understand what to expect.
                            </p>

                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Our Platform and the Services are provided “as is,” without warranty of any kind. Without limiting the foregoing, MVP Talent Market expressly disclaims all warranties, whether express, implied, or statutory, regarding the Platform and the Services including, without limitation, any warranty of merchantability, fitness for a particular purpose, title, security, accuracy and non-infringement.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Specifically, MVP Talent Market makes no representation or warranty that the Materials we provide or that are provided through the Services by us or others is accurate, reliable, or correct; that the Services will meet your requirements; that the Services will be available at any particular time or location, that the Services will function in an uninterrupted manner or be secure; that any defects or errors will be corrected; or that the Services are free of viruses or other harmful components. You assume full responsibility and risk of loss resulting from your use of Materials obtained from the Service. Some jurisdictions limit or do not permit disclaimers of warranty, so this provision may not apply to you.
                                    </p>
                                </li>

                            </ul>

                            <h4>
                                Limitation of Liability
                            </h4>
                            <p>
                                We will not be liable for damages or losses arising from your use of the Services or arising under this Agreement. Please read this section carefully; it limits our obligations to you.
                            </p>

                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        To the extent permitted by applicable law, in no event will MVP Talent Market be liable to you for any loss of profits, use, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from (i) the use, disclosure, or display of Materials, whether generated, created, or posted by you or others; (ii) your use or inability to use the Services; (iii) the use of our Platform or Services that we make available to you; or (iv) any other interactions with MVP Talent Market or any other User of the Services, whether based on warranty, contract, tort (including negligence) or any other legal theory, and whether or not MVP Talent Market has been informed of the possibility of such damage, and even if a remedy set forth in this Agreement is found to have failed of its essential purpose. MVP Talent Market will have no liability for any failure or delay due to matters beyond our reasonable control. Some jurisdictions limit or do not permit disclaimers of liability, so this provision may not apply to you.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        The Services may include technical or typographical inaccuracies, mistakes or errors. MVP Talent Market assumes no liability for any errors or omissions in the Materials contained on or made available through our Website or in the Services and expressly disclaims any responsibility to update the Materials or Services.
                                    </p>
                                </li>

                            </ul>
                            <h4>
                                Third Party Beneficiaries
                            </h4>
                            <p>
                                Users are intended third-party beneficiaries. Any legal information provided on our Platform or in the Services is for informational and research purposes only. MVP Talent Market and any creator of Materials disclaim, all warranties, either express or implied, statutory, or otherwise, including but not limited to the implied warranties of merchantability, non-infringement of third parties' rights, and fitness for particular purpose, to the fullest extent permitted by law. In no event will MVP Talent Market be liable for any damages (including, without limitation, incidental and consequential damages, personal injury / wrongful death, lost profits, or damages resulting from lost data or business interruption) resulting from the use of or inability to use the Services, Platform, or the Materials, whether based on warranty, contract, tort, or any other legal theory, and whether or not MVP Talent Market or contributors of Materials are advised of the possibility of such damages. Neither MVP Talent Market nor contributors of Materials are liable for any personal injury, including death, caused by your use or misuse of the Services, Platform, or Materials.
                            </p>
                            <h4>
                                Release and Indemnification
                            </h4>


                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        You agree to indemnify and hold harmless MVP Talent Market from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Services, Platform, or Materials, including but not limited to your violation of this Agreement.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        If you have a dispute with one or more Users, you release MVP Talent Market from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes. If you are a California resident, you waive California Civil Code §1542, which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.”
                                    </p>
                                </li>

                            </ul>
                            <h4>
                                Miscellaneous
                            </h4>
                            <p>
                                This Agreement is governed by Rhode Island  law. If we are involved in a merger or are acquired by a person or another entity, we may transfer the rights to this Agreement. You may only agree to these terms if you are able to form a binding contract in your state or country.  These Terms of Use and our Privacy Policy are the complete agreement between you and us, with regard to their subject matter. This Agreement may only be modified by a written amendment signed by an authorized MVP Talent Market executive, or by the updating by MVP Talent Market of these Terms of Use with a new Effective Date.
                            </p>

                            <ul class="timeline-new mt-4">
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Governing Law. Except to the extent applicable law provides otherwise, this Agreement between you and MVP Talent Market and any access to or use of our Platform, Materials, or the Services are governed by the laws of the State of Rhode Island, without regard to conflict of law provisions. You and MVP Talent Market agree to submit to the exclusive jurisdiction and venue of the courts located in the East Greenwich, Rhode Island.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Severability. If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement will be construed to reflect the parties’ original intent. The remaining portions will remain in full force and effect. Any failure on the part of MVP Talent Market to enforce any provision of this Agreement will not be considered a waiver of our right to enforce such provision. Our rights under this Agreement will survive any termination of this Agreement.
                                    </p>
                                </li>
                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Non-Assignability. MVP Talent Market may assign or delegate the terms of this Agreement, in whole or in part, to any person or entity at any time with or without your consent. You may not assign or delegate any rights or obligations under this Agreement without MVP Talent Market’s prior written consent, and any unauthorized assignment and delegation by you is void.
                                    </p>
                                </li>


                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Section Headings and Summaries Non-Binding. Throughout this Agreement, each section includes titles and brief summaries of the following Terms of Use. These section titles and brief summaries are not legally binding.
                                    </p>
                                </li>

                                <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>

                                    <p>
                                        Authorization to Contract. You represent and warrant that if you are an individual, You are of legal age to form a binding contract; or that if you are registering on behalf of an entity, that you are authorized to enter into, and bind the entity to this Agreement.
                                    </p>
                                    <p>
                                        You acknowledge that you have read this Agreement, understand its Terms of Use, and will be bound by this Agreement in its entirety. Your only option should you not agree is to cease using our Platform and the Services.
                                    </p>
                                </li>


                            </ul>







                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>