@{
    ViewBag.Title = "terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="main_section">
    <div class="candidates_banner">
        <img src="~/Scripts/assets/img/terms_policies.jpg" />
        <div class="text1 cs3">
            <h3>TERMS AND POLICIES</h3>
        </div>
    </div>
    <div class="container">
        <div class="txt_website mt-5">
            <h3>Website Terms and Conditions</h3>
            <p><span>01. Introduction</span> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]’s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website. The term ‘[business name]’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is [address]. Our company registration number is [company registration number and place of registration]. The term ‘you’ refers to the user or viewer of our website.</p>
        </div>
        <div class="txt_website">
            <h3>THE USE OF THIS WEBSITE IS SUBJECT TO THE FOLLOWING TERMS OF USE:</h3>
            <p> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]’s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website. The term ‘[business name]’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is [address]. Our company registration number is [company registration number and place of registration]. The term ‘you’ refers to the user or viewer of our website.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div id="the_contant">
                    <ul>
                        <li>The content of the pages of this website is for your general information.</li>
                        <li>This website uses cookies to monitor browsing preferences.</li>
                        <li>Neither we nor any third parties provide any warranty or guarantee.</li>
                        <li>You acknowledge that such information and materials.</li>
                        <li>Inaccuracies or errors to the fullest extent permitted by law.</li>
                        <li>Information or materials on this website is entirely at your own risk.</li>
                        <li>It shall be your own responsibility to ensure that any products.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="the_contant ">
                    <ul class="alpha_lower">
                        <li>From time to time, this website may also include links.</li>
                        <li>These links are provided for your convenience to provide.</li>
                        <li>They do not signify that we endorse the website.</li>
                        <li>We have no responsibility for the content of the linked website.</li>
                        <li>Your use of this website and any dispute arising out.</li>
                        <li>Your use of any information or materials on this website</li>
                        <li>It shall be your own responsibility to ensure that any products.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="txt_website mt-2 mb-5">
            <h3>THE CONTENT OF THE PAGES OF THIS WEBSITE:</h3>
            <p>
                Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered inset one echidna cassowary some parrot and much as goodness some froze the sullen much connected bat wonderfully on instantaneously. Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally.<br><br>
                Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally wow absolutely crud meretriciously hastily dalmatian a glowered inset one echidna cassowary some parrot and much as goodness some froze the sullen much connected bat wonderfully on instantaneously. Far much that one rank beheld bluebird after outside ignobly allegedly more when oh arrogantly vehement irresistibly fussy penguin insect additionally.01. Introduction Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]’s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website. The term ‘[business name]’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is [address]. Our company registration number is [company registration number and place of registration]. The term ‘you’ refers to the user or viewer of our website.
            </p>
        </div>
    </div>
</section> 