@model Web.Model.Common.LoginModel
@{
    ViewBag.Title = "updatepassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="images/favicon.png" rel="icon">
    <title>MVPTalent</title>
</head>
<body>
    <section class="banner-inner">
        <h1 class="banner-caption">Update Password</h1>
    </section>
    <section class="login-section update-pass forget-inner">
        <div class="container">
            <div class="login-box">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="login-wrap animated fadeInUp">
                            <form id="UpadtePasswordform">
                                <div class="login-form">
                                    <div class="form-group">
                                        <label>New Password *</label>
                                        <div class="email_ico icon"><input class="form-control" type="password" name="password" id="password" autocomplete="off" maxlength="30" required placeholder="Please enter new password"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="mb-1">Confirm Password *</label>
                                        <div class="pass_ico icon"><input class="form-control" type="password" name="Cpassword" id="Cpassword" required placeholder="Please enter confirm password"></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary text-center w-100" onclick="updateforgotPassword(@Model.UserId)">Update Password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>